<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[zkui] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c{5}.%M(%L) : %m%n" />
        </layout>
    </appender>

    <appender name="APPLOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="./zkui.log" />
        <param name="Append" value="true" />
        <param name="MaxFileSize" value="20MB" />
        <param name="MaxBackupIndex" value="4" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[zkui] %d{yyyy-MM-dd HH:mm:ss.SSS} %-5p [%t] %c{2}.%M(%L) : %m%n" />
        </layout>
    </appender>

    <!-- <logger name="com.victop.dingzk">
        <level value="DEBUG" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APPLOGFILE" />
    </logger> -->

    <!-- <logger name="com.victop.platform.common.connectionpool.impl">
        <level value="DEBUG" />
        <appender-ref ref="APPLOGFILE" />
    </logger> -->

    <!-- <logger name="org.apache">
        <level value="WARN" />
    </logger> -->

    <logger name="org.eclipse.jetty.http">
        <level value="INFO" />
    </logger>

    <logger name=" org.eclipse.jetty.io">
        <level value="INFO" />
    </logger>

    <logger name="org.eclipse.jetty.annotations">
        <level value="INFO" />
    </logger>
    <logger name="org.apache.zookeeper">
        <level value="WARN" />
    </logger>

    <root>
        <level value="DEBUG" />
        <appender-ref ref="APPLOGFILE" />
    </root>
</log4j:configuration>